{% extends 'profiles/base.html' %}

{% block title %}
My Invites
{% endblock title %}


{% block content %}

{% if is_empty %}
    <a style="font-family: 'Snell Roundhand', serif !important;
        color: #e8e9e9; font-weight: bold; font-size: 30px; position: absolute;
            left: 500px;
            top: 150px;" >No profiles to interact with!</a>
{% endif %}

    <style>
        .user_card {
            width: 450px;
            margin-top: auto;
            margin-bottom: auto;
            background: #f8fbfb;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;

        }
    </style>
    <div class="d-flex justify-content-center h-90" style="margin-top: 50px">
    </div>

    {% for obj in object_list %}
                <div class="row" style="margin-top: 20px; margin-left:500px">
                    <div class="user_card">
                        <div class="d-flex justify-content-center">
                            <h3 id="form-title" style="font-family: 'Georgia', serif;">{{obj.user}}</h3>
                        </div>
                        <div class="d-flex justify-content-center mt-4" style="text-align: center">
                        <p style="font-family: 'Georgia', serif !important;
                        color: #5588A3; text-align:center;">{{obj.bio}}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-4" style="text-align: center">
                        {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                            <form action="{% url 'send-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="ui positive basic btn btn-info mb-5 w-big" style="background-color: #C8D9EB; font-family: 'Georgia', serif; color: white" ><i class="plus square icon"></i>Add to friends</button>
                            </form>
                        {% endif %}
                        </div>
                        {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                            <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Waiting for approval</button>
                        {% endif %}
                        <div class="d-flex justify-content-center mt-4" style="text-align: center">
                        {% if request.user in obj.friends.all %}
                            <form action="{% url 'remove-friend'%}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="ui negative basic button mb-5 w-big"><i class="minus square icon"></i>Remove from friends</button>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                </div>

    {% endfor %}


{% endblock %}